[submodule "Plugin/Bancha"]
	path = Plugin/Bancha
	url = git://github.com/Bancha/Bancha.git
	update = checkout
[submodule "Plugin/BanchaDeveloperRemoteApi"]
	path = Plugin/BanchaDeveloperRemoteApi
	url = git://github.com/Bancha/BanchaDeveloperRemoteApi.git
	update = checkout
[submodule "webroot/touch"]
	path = webroot/touch
	url = git://github.com/Bancha/BanchaTouchClient.git
	update = checkout
[submodule "webroot/offlinestorage"]
	path = webroot/offlinestorage
	url = https://github.com/Bancha/OfflineStorageExample.git
[submodule "Plugin/Minify"]
	path = Plugin/Minify
	url = https://github.com/maurymmarques/minify-cakephp.git
