body {
    margin-top:40px;
    margin-left:20px;
    margin-bottom:5px;
}

.wrapper > p {
    margin:60px auto 3px auto;
}
/* center extjs sample panels */
.x-panel {
    margin:0 auto 0 auto;
    text-align:center;
}

.uploaded-image {
    margin-left:80px;
}

.icon-add {
	background-image:url(../img/icons/add.png) ! important;
}
.icon-save {
	background-image:url(../img/icons/disk.png) ! important;
}
.icon-reset {
	background-image:url(../img/icons/arrow_undo.png) ! important;
}
.icon-upload {
	background-image:url(../img/icons/image_add.png) ! important;
}
.icon-edit-user {
	background-image:url(../img/icons/user_edit.png) ! important;
}






/* footer */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px auto;
}
.footer, .push {
    height: 30px;
    clear: both;
    font-size: 13px;
    color: black;
    text-align: right;
	margin-right:15px;
}